.collections-section {
    text-align: center;
    padding: 20px;
}

.collections-section h1 {
    font-size: 2rem;
}

.collections-section p {
    font-size: 1.2rem;
    color: #666;
}

.collections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.collection-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.collection-item img {
    width: 500px;
    height: 300px;
    display: block;
    transition: transform 0.3s ease;
}

.collection-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background 0.3s ease, opacity 0.3s ease;;
}

.collection-item:hover .overlay {
    background: rgba(0, 0, 0, 0.9); /* Fondo oscuro que cubre toda la imagen */
}

.collection-item:hover img {
    transform: scale(1.05); /* Efecto de zoom en la imagen al hacer hover */
}

.collections-section .see-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.collections-section .see-more:hover {
    background-color: #1b1a1a;
}

.collection-item p {
    font-size: 0rem; /* Tama침o de fuente inicial */
    transition: font-size 0.3s ease; /* A침adimos transici칩n para que el cambio sea suave */
}

.collection-item:hover p {
    font-size: 4rem; /* Tama침o de fuente al hacer hover */
}